extends layout

block content
  h3= fullName
  if fullName != 'None'
    p I see you live in #{location}
      p Your Twitter feed is #{twitter}
      p You need a better picture don't you think?
      img(src=avatar)
      p Did you like your home in
      p
      ul
        each loc in details.locations
          li #{loc.formatted} #{loc.regionCode}
        else
          li Don't get around much 'eh?

      p How well did you do at:
      ol
        each ed in details.education
          li #{ed.name} #{ed.degree} #{ed.end.year}
        else
          li Time to get some learnin'

      p I see you like:
        ol
          each topic in details.topics
            li #{topic.name}
          else
            li Not many interests I see

      p I think we have even more on you here:
        ol
          each data in dataAddOns
            p= data.name
            a(href=data.docLink) #{data.description}
